body {
    font-family: 'Inconsolata', monospace;
    padding: 20px 60px;
    background-image: url('https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg');
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}